.button {
  cursor: pointer;
  display: inline-block;
  color: #343a40;
  font-family: sans-serif;
  font-weight: 900;
  font-size: 14px;
  border: 2px solid #343a40;
  border-radius: 10px;
  padding: 10px 15px;
  transition: all 0.5s;
  background-color: #fff;
  animation: display 0.5s ease-in;
}

.button:hover {
  color: white;
  background-color: #343a40;
}
.button.active {
  background-color: #343a40;
  color: white;
  transform: 0.2s all;
}
@keyframes scale {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@keyframes display {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
