.container {
  position: relative;
  display: inline-block;
}
.dropdown {
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  z-index: 1;
  border: 1px solid #343a40;
  border-radius: 5px;
  animation: opacity 0.5s ease-in-out;
}
.background {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  overflow: auto;
}
.displaynone {
  display: none;
}
@keyframes opacity {
  from {
    opacity: 0;
    transform: scale(0.7);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
