.svg {
  width: 20px;
  height: 20px;
  fill: none;
  stroke-width: 2px;
  stroke: #343a40;
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: 1s all;
  cursor: pointer;
}
.active {
  transform: scale(0.8);
  opacity: 0.8;
  stroke: #d21404;
}
